<html>
  <body>
	  <div class ="container">
		  <div class="row">
			  <div class="col-12 pt-4">			  
					<h1>Library Network</h1>
				  	<ul>
					  	<li><a href="authors.html">Authors</a></li>
						<li><a href="books.html">Books</a></li>
						<li><a href="book_authors.html">Book_Authors</a></li>
						<li><a href="customers.html">Customers</a></li>
						<li><a href="facilities.html">Facilities</a></li>
						<li><a href="loans.html">Loans</a></li>
						<li><a href="publishers.html">Publishers</a></li>
						</ul>
				  </div>
			 </div>
		</div>
  </body>
</html>
